<!-- Based on code from https://www.digitalocean.com/community/tutorials/how-to-use-an-sqlite-database-in-a-flask-application -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Student Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>

    <div class="title">MTA Tracker</div>
    <hr/>
    <nav class="nav-bar">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <button class="button">
                    <a href="{{ url_for('index') }}">Local Bus Routes</a>
                </button>
                <button class="button-2">
                    <a>MARC Train</a>
                </button>
                <button class="button-2">
                    <a>Light RailLink</a>
                </button>
            </div>
            <div>
                {% if not isLoggedIn %}
                <button class="button" style="text-align: right; margin-right: 40px;">
                    <a href="{{ url_for('login') }}">Log in</a>
                </button>
                {% else %}
                <button class="button" style="text-align: right;">
                    <a href="{{ url_for('favorites', user=currentUser) }}">Saved Routes</a>
                </button>
                <button class="button" style="text-align: right; margin-right: 40px;">
                    <a href="{{ url_for('logout') }}">Log out</a>
                </button>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="search-bar">
        <form id="search-form" action="{{ url_for('search', t_stop='') }}" method="post">
            <input type="text" placeholder="Search Stops" name="stop_name" id="stop_name">
            <button type="submit" onclick="updateFormAction()">Search</button>
        </form>
    </div>

    <script>
        function updateFormAction() {
            var userInput = document.getElementById('stop_name').value;
            var formAction = "/search/" + userInput;
            document.getElementById('search-form').action = formAction;
        }
    </script>

    <div class="content">
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}

        {% block content %} {% endblock %}
    </div>

</body>
</html>
