{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Local Bus Routes {% endblock %}</h1>
    <div class="mdc-data-table" style="width:85%;">
      <table class="mdc-data-table__table" aria-label="Dessert calories">
        <thead>
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Bus #</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Route Name</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Occupancy</th>
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Trip Updates</th>
            {% if isLoggedIn %}
              <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Add Favorite</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="mdc-data-table__content">
          {% for vehicle in vehicles %}
          <tr class="mdc-data-table__row">
            <td class="mdc-data-table__cell">{{ vehicle.busId }}</td>
            <td class="mdc-data-table__cell" >{{ vehicle.name }}</td>
            <td class="mdc-data-table__cell">{{ vehicle.occupancy }}</td>
            <td class="mdc-data-table__cell">
              <button class="button" >
               <a style="color: #FFFFFF;" href="{{ url_for('tripupdate', id=vehicle.tripId) }}" >See stops</a>
              </button>
            </td>
            {% if isLoggedIn %}
            <td class="mdc-data-table__cell">
              <button class="button">
                <a style="color: #FFFFFF;" href="{{ url_for('addfavorite', id=vehicle.tripId) }}" >&#9733;</i></a>
              </button>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
