{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="log-in">Login</h1>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" value="{{ request.form.username }}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            {% if not isLoggedIn %}
                <a href="{{ url_for('register') }}" class="btn btn-secondary">Register</a>
            {% endif %}
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
{% endblock %}
