{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="log-in">Register</h1>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" name="username" value="{{ request.form.username }}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" value="{{ request.form.password }}">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm Password" name="confirm_password" value="{{ request.form.confirm_password }}">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
{% endblock %}
