{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Register</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{request.form.username}}">
            <input type="password" placeholder="Password" name="password" value="{{request.form.password}}">
            <input type="password" placeholder="Confirm Password" name="confirm_password" value="{{request.form.confirm_password}}">
            <input class="btn btn-default" type="submit" value="Register">
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </div>
{% endblock %}
