{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Upcoming Stops {% endblock %}</h1>
    <div class="div-table">
        <div class="div-table-row">
            <div class="div-table-col-tiny" style="font-weight: bold;">&ensp;#</div>
            <div  class="div-table-col-large" style="font-weight: bold; width: 450px">&ensp;Stop Name</div>
        </div>
        
        {% for stop in stops %}
        <div>
            <div class="div-table-col-tiny">&ensp;{{ stop.seq }}</div>
            <div  class="div-table-col-large" style="width: 450px">&ensp;{{ stop.name|title }}</div>
        </div>
        {% endfor %}

    </div>
{% endblock %}
